extends ../layout.pug

block body
    ul.issues-list
        each user in users
            li
                -console.log(user)
                = user.fullname + " (" + user.username + ") " + (user.isadministrator?"(Administrator)":"")