extends layout.pug

block body
    form(action="/createissue", method="POST",enctype="application/x-www-form-urlencoded")
        input(type="text",name="name",placeholder="Name of issue",required)
        br
        textarea(name="firsttext",placeholder="Text of first post (Markdown)",required)
        br
        select(name="projectid",required)
            each project in projects
                option(value=project.id.toString())= project.projectname
        br
        input(type="submit")