extends layout.pug

block body
    form(action="/createissue", method="POST",enctype="application/x-www-form-urlencoded")
        input.title-input(type="text",name="name",placeholder="Title",required)
        br
        textarea.submit-text(name="firsttext",placeholder="Description",required)
        br
        label(for="projectchooser") Project: 
        select#projectchooser(name="projectid",required)
            each project in projects
                option(value=project.id.toString())= project.projectname
        br
        input(type="submit")