doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title PBug
        block css
            link(rel="stylesheet",href="/static/global.css")
    body
        header.flex-container
            .inner-element
                .helper
                    nav
                        a(href="/",style="display:inline-block")
                            .helper
                                img.logo(src="/logo",width="32",height="32")
                            | 
                        |  | 
                        a(href="/issues") Issues
                        |  | 
                        if req.user.id == -1
                            a(href="/login?"+qs.stringify({redirect:req.path})) Login
                            if config.login.allowregistration
                                |  | 
                                a(href="/register?"+qs.stringify({redirect:req.path})) Register
                        else
                            a(href="/issues/create") New Issue
                            |  | 
                            a(href="/kb/create") New Info Page
                            |  | 
                            a(href="/logout?"+qs.stringify({redirect:req.path})) Log out
                        |  | 
        .page-main
            block body
            block scripts
                script(src="https://code.jquery.com/jquery-3.3.1.min.js")