doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title PBug
        link(rel="stylesheet",href="/static/global.css")
        block css
    body
        header.flex-container
            .inner-element
                .helper
                    nav
                        a(href="/",style="display:inline-block")
                            .helper
                                img.logo(src="/static/PB.svg",width="32",height="32")
                            |  Home
                        |  | 
                        a(href="/issues") Issues
                        |  | 
                        if req.user.id == -1
                            a(href="/login") Login
                            |  | 
                            a(href="/register") Register
                        else
                            if req.user.isadmin
                                a(href="/createproject") Create Project
                                |  | 
                            a(href="/issues/create") Create Issue
                            |  | 
                            a(href="/kb/create") Create Info Page
                            |  | 
                            a(href="/logout") Log out
                        |  | 
        .page-main
            script(src="https://code.jquery.com/jquery-3.3.1.min.js")
            block body