extends layout.pug
block body
    h2 List of issues
    a(href="/issues/open") Open
    |  | All
    ul.issues-list
        each issue in issues
            li
                a(href="/issue/" + issue.ID)
                    .issue-tag= "[" + issue.ShortProjectID + "-" + ("0000" + issue.ID).slice(-4) + "] "
                    = issue.IssueName