extends layout.pug
block body
    h2=title
    ul.issues-list
        each issue in issues
            li
                a(href="/issue/" + issue.id)
                    .issue-tag= "[" + issue.shortprojectid + "-" + ("0000" + issue.id).slice(-4) + "] "
                    = issue.issuename
    if req.user.id !== -1
        h2 Open issues authored by you
        ul.issues-list
            each issue in aissues
                li
                    a(href="/issue/" + issue.id)
                        .issue-tag= "[" + issue.shortprojectid + "-" + ("0000" + issue.id).slice(-4) + "] "
                        = issue.issuename