extends layout.pug

block body
    if typeof req.query.error !== "undefined"
        fieldset
            legend Error
            = errors[Number(req.query.error)]
    form(action="/login",method="POST",type="application/x-www-form-urlencoded")
        input(type="text",name="username",placeholder="Login name",required)
        br
        input(type="password",name="password",placeholder="Password",required)
        br
        input(type="submit",value="login")