extends layout.pug

block body
    form(action="/register",method="POST",type="application/x-www-form-urlencoded")
        input(type="text",name="name",placeholder="Full name")
        br
        input(type="text",name="username",placeholder="Username")
        br
        input(type="password",name="password",placeholder="Password")
        br
        input(type="submit",value="Register")