extends layout.pug

block body
    if typeof req.query.error !== "undefined"
        fieldset
            legend Error
            = errors[Number(req.query.error)]
    form.register-grid(action=vroot+"useinvite?"+qs.stringify(req.query),method="POST",type="application/x-www-form-urlencoded")
        img#iiresult.icon.valcol.inviteidrow
        input.h2.blueunderline.fieldcol.inviteidrow#iitb(type="text",name="inviteid",placeholder="Invite ID",autocomplete="off",value=(invite === undefined ? "" : invite))
        div.infocol.inviteidrow
            | Invite ID supplied by admin.
        br
        img#fnresult.icon.valcol.namerow
        input.h2.blueunderline.fieldcol.namerow#fntb(type="text",name="name",placeholder="Full name")
        div.infocol.namerow
            | Used to sign your posts.
            br 
            |  You can change it later.
        br
        img#uresult.icon.valcol.loginrow
        input.h2.blueunderline.fieldcol.loginrow#usernametb(type="text",name="username",placeholder="Username")
        div.infocol.loginrow
            | Used for signing in and in the 
            br
            | address of your user page
        br
        img#presult.icon.valcol.passrow
        input.h2.blueunderline.fieldcol.passrow#ptb(type="password",name="password",placeholder="Password",autocomplete="off")
        div.infocol.passrow
            | 6 characters or more. 
            br
            |  Passphrases welcome.
        br
        input.h2.submitpost.fieldcol.buttonrow(type="submit",value="Register",style="margin-top:10px; justify-self: center;")
append scripts
    script.
        $(function() {
            var timer = 0;
            $("#iib").keyup(function() {
                clearTimeout(timer);
                var v = $(this).val()
                timer = setTimeout(function() {
                    $.post(vroot+"checkinvite", {inviteid:v},function(res) {
                        if (res === "Invite exists" && v !== "") {
                            $("#iiresult").attr("src",vroot+"static/tick.png");
                        }
                        else {
                            $("#iiresult").attr("src",vroot+"static/cross.png");
                        }
                    });
                },500);
            });
            $("#iib").keyup();
            $("#usernametb").keyup(function() {
                clearTimeout(timer);
                var v = $(this).val()
                timer = setTimeout(function() {
                    $.post(vroot+"checkusername", {username:v},function(res) {
                        if (res === "Username available" && v !== "") {
                            $("#uresult").attr("src",vroot+"static/tick.png");
                        }
                        else {
                            $("#uresult").attr("src",vroot+"static/cross.png");
                        }
                    });
                },500);
            });
            $("#utb").keyup();
            $("#fntb").keyup(function() {
                if ($(this).val() !== "") {
                    $("#fnresult").attr("src",vroot+"static/tick.png");
                }
                else {
                    $("#fnresult").attr("src",vroot+"static/cross.png");
                }
            });
            $("#fntb").keyup();
            $("#ptb").keyup(function() {
                if ($(this).val().length >= 6) {
                    $("#presult").attr("src",vroot+"static/tick.png");
                }
                else {
                    $("#presult").attr("src",vroot+"static/cross.png");
                }
            });
            $("#ptb").keyup();
            $("form").submit(function() {
                if ($("#iiresult").attr("src") == vroot+"static/cross.png")
                    return false;
                if ($("#uresult").attr("src") == vroot+"static/cross.png")
                    return false;
                if ($("#fnresult").attr("src") == vroot+"static/cross.png")
                    return false;
                if ($("#presult").attr("src") == vroot+"static/cross.png")
                    return false;
                return true;
            });
        });
