extends ../layout.pug

block body
    h2(style="text-align:center") 403 Administrator privileges required
    p I don't know, maybe you'll someday become an admin of this particular instance. But you aren't one now, and that's what's important.