extends ../layout.pug

block body
    h2(style="text-align:center") 500 Internal Server Error 
    p
        if process.env.NODE_ENV === "production"
            | Something happened, and that which happened isn't supposed to happen.
        else
            | Something happened.     
            pre
                code=error.stack