extends ../layout.pug

block body
    h2(style="text-align:center") 500 Internal Server Error 
    p
        if config.environment !== "development"
            | Something happened, and that which happened isn't supposed to happen.
        else
            | Something happened.     
            pre
                code=error.stack