extends ../../layout.pug

block body
    if typeof req.query.error !== "undefined"
        fieldset
            legend Error
            = errors[Number(req.query.error)]
    form.register-grid(action="/admin/invites/create",method="POST",type="application/x-www-form-urlencoded")
        img#fnresult.icon.valcol.namerow
        input.h2.blueunderline.fieldcol.namerow#fntb(type="text",name="name",placeholder="Full name of invited user")
        br
        img#uresult.icon.valcol.loginrow
        input.h2.blueunderline.fieldcol.loginrow#usernametb(type="text",name="username",placeholder="Username of invited user")
        br
        input.h2.submitpost.fieldcol.buttonrow(type="submit",value="Create",style="margin-top:10px; justify-self: center;")
append scripts
    script.
        $(function() {
            var timer = 0;
            $("#usernametb").keyup(function() {
                clearTimeout(timer);
                var v = $(this).val()
                timer = setTimeout(function() {
                    $.post("/checkusername", {username:v},function(res) {
                        if (res === "Username available" && v !== "") {
                            $("#uresult").attr("src","/static/tick.png");
                        }
                        else {
                            $("#uresult").attr("src","/static/cross.png");
                        }
                    });
                },500);
            });
            $("#utb").keyup();
            $("#fntb").keyup(function() {
                if ($(this).val() !== "") {
                    $("#fnresult").attr("src","/static/tick.png");
                }
                else {
                    $("#fnresult").attr("src","/static/cross.png");
                }
            });
            $("#fntb").keyup();
            $("form").submit(function() {
                if ($("#uresult").attr("src") == "/static/cross.png")
                    return false;
                if ($("#fnresult").attr("src") == "/static/cross.png")
                    return false;
                return true;
            });
        });
