extends ../../layout.pug

block body
    ul.issues-list
        each invite in invites
            li
                = invite.fullname + " (" + invite.username + ") " + invite.uid
                a(href="/admin/invites/"+invite.uid+"/remove",style="display:inline")
                    img(src="/static/cross.png",height=20,width=20)