extends ../../layout.pug

block body
    ul.issues-list
        each invite in invites
            li
                = invite.uid
                a(href=vroot+"admin/invites/"+invite.uid+"/remove",style="display:inline")
                    img(src=vroot+"static/cross.png",height=20,width=20)