extends ../layout.pug
block body
    h2 List of issues
    a(href="/issues/open") Open
    |  | 
    a(href="/issues/all") All
    |  | 
    a(href="/issues/orphan") Orphan
    |  | 
    a(href="/issues/completed") Completed
    ul.issues-list
        each issue in issues
            li
                a(href="/issues/" + issue.id)
                    .issue-tag= "[" + issue.shortprojectid + "-" + ("0000" + issue.id).slice(-4) + "] "
                    = issue.issuename