extends ../layout.pug
block body
    .searchbox
        form(action="/issues/search", method="GET")
            input(type="text",placeholder="Search...",name="q",value=query,class="search")
            input(type="submit",value="Search",class="submit-search")
    if typeof results !== "undefined"
        ul.issues-list
            each result in results
                li
                    a(href="/issues/" + result.id)
                        .issue-tag= "[" + result.shortprojectid + "-" + ("0000" + result.id).slice(-4) + "] "
                        = result.issuename
        .pagination
            - var i = 1;
            while i <= pagecol
                a(href="/issues/search?q="+encodeURIComponent(query)+"&page="+i.toString())=i
                |  
                -i++
            