extends ../layout
block body
    form(action="/files/upload",method="POST",enctype="multipart/form-data")
        input(type="file",name="file")
        input.submitpost(type="submit", value="Repost",style="float:right")